apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "nlweb.fullname" . }}-front
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "nlweb.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.frontReplicaCount }}
  selector:
    matchLabels:
      {{- include "nlweb.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "nlweb.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}-frontend
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.frontend.repository }}:{{ include "nlweb.frontend.imageTag" . }}"
          imagePullPolicy: {{ .Values.image.frontend.pullPolicy }}
          env:
            - name: MEMORY_MAX
              value: {{ .Values.neoload.configuration.frontend.java.xmx }}
            - name: DEPLOYMENT_TYPE
              value: "helm/kubernetes"
            - name: HA
              value: "true"
            - name: AWS_HZ_PORT
              value: "6701"
            - name: START_MODE
              value: "CLUSTER_KUB"
            - name: KUB_NAMESPACE
              value: {{ .Release.Namespace | quote }}
            {{- if .Values.neoload.configuration.ha.api }}
            - name: KUB_SERVICE_NAME
              value: "{{ include "nlweb.fullname" . }}-svc-hazelcast"
            {{- end -}}
            {{- if .Values.neoload.configuration.ha.dns }}
            - name: KUB_SERVICE_DNS_NAME
              value: "{{ include "nlweb.fullname" . }}-svc-hazelcast.{{ .Release.Namespace }}.svc.cluster.local"
            {{- end -}}
            {{- if .Values.neoload.configuration.misc -}}
            {{- if .Values.neoload.configuration.misc.trackingUrl }}
            - name: NEOTYS_TRACKING_URL
              value: {{ .Values.neoload.configuration.misc.trackingUrl | quote }}
            {{- end -}}
            {{- end }}
            {{- if .Values.neoload.configuration.frontend.others }}
            {{- range $name, $value := .Values.neoload.configuration.frontend.others }}
            - name: {{ $name }}
              value: {{ $value | quote }}
            {{- end }}
            {{- end }}
          ports:
            - name: webapp
              containerPort: 9090
              protocol: TCP
            - name: frontend-admin
              containerPort: 9091
              protocol: TCP
            - name: hazelcast
              containerPort: 6701
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /status
              port: webapp
            initialDelaySeconds: 60
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /status
              port: webapp
            initialDelaySeconds: 60
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources.frontend | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
