apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "nlweb.fullname" . }}-front
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "nlweb.labels" . | nindent 4 }}
    {{- range $key, $value := .Values.neoload.labels.frontend }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
  annotations:
    {{- if and .Values.neoload.annotations .Values.neoload.annotations.frontend }}
    {{- range $key, $value := .Values.neoload.annotations.frontend }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
    {{- end }}
    {{- if and .Values.neoload.annotations .Values.neoload.annotations.deployment .Values.neoload.annotations.deployment.frontend }}
    {{- range $key, $value := .Values.neoload.annotations.deployment.frontend }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
    {{- end }}
spec:
  replicas: {{ .Values.replicaCount.frontend }}
  selector:
    matchLabels:
      {{- include "nlweb.frontend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "nlweb.frontend.selectorLabels" . | nindent 8 }}
        {{- range $key, $value := .Values.neoload.labels.frontend }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
      annotations:
        {{- if and .Values.neoload.annotations .Values.neoload.annotations.frontend }}
        {{- range $key, $value := .Values.neoload.annotations.frontend }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
        {{- end }}
        {{- if and .Values.neoload.annotations .Values.neoload.annotations.pod .Values.neoload.annotations.pod.frontend }}
        {{- range $key, $value := .Values.neoload.annotations.pod.frontend }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
        {{- end }}
    spec:
      serviceAccountName: {{ include "nlweb.serviceAccountName" . }}
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}-frontend
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.frontend.repository }}:{{ include "nlweb.frontend.imageTag" . }}"
          imagePullPolicy: {{ .Values.image.frontend.pullPolicy }}
          env: 
            - name: PORT
              value: '3000'
            #TODO remove FRONT_V1_URL when frontend v2 is default
            - name: FRONT_V1_URL
              value: "fake"
            - name: API_URL
              value: {{ printf "%s%s" (include "nlweb.helpers.getScheme" .) (index .Values.services "api-v4").host | required "API URL (.Values.services[\"api-v4\"].host) value is required." | quote }}
            - name: API_FILE_URL
              value: {{ printf "%s%s" (include "nlweb.helpers.getScheme" .) (include "nlweb.files.host" .) | required "NeoLoad Web Files API URL (.Values.services.files.host) value is required." | quote }}
            - name: FRONT_PUBLIC_URL
              value: {{ printf "%s%s/public" (include "nlweb.helpers.getScheme" .) .Values.services.webapp.host | required "NeoLoad Web Next Gen Public URL (.Values.services.webapp.host) value is required." | quote }}
            {{- if .Values.neoload.configuration.frontend.others }}
            {{- range $name, $value := .Values.neoload.configuration.frontend.others }}
            - name: {{ $name }}
              value: {{ $value | quote }}
            {{- end }}
            {{- end }}
          ports:
            - name: webapp
              containerPort: 3000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: webapp
            initialDelaySeconds: {{ .Values.neoload.configuration.frontend.livenessProbe.initDelaySeconds }}
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: webapp
            initialDelaySeconds: {{ .Values.neoload.configuration.frontend.readinessProbe.initDelaySeconds }}
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources.frontend | nindent 12 }}
        {{- if ((.Values.extra).containers).frontend }}
        {{- toYaml .Values.extra.containers.frontend | nindent 8 }}
        {{- end }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with ((.Values.extra).volumes).frontend }}
      volumes:
        {{- toYaml . | nindent 8 }}
    {{- end }}
