{{- if .Values.ingress.enabled -}}
{{- $fullName := include "nlweb.fullname" . -}}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}-ingress
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "nlweb.labels" . | nindent 4 }}
  annotations:
    {{- range $label, $annotation := .Values.ingress.annotations }}
    {{ $label }}: {{ $annotation | quote }}
    {{- end }}
spec:
{{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
{{- end -}}
{{- if .Values.ingress.tls }}
  tls:
  {{- range .Values.ingress.tls }}
    - secretName: {{ .secretName }}
      hosts:
      {{- if .hosts -}}
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      {{- else -}}
      {{- range $label, $service := $.Values.services }}
        - {{ $service.host | required (printf "The %s service host is required. (--set services.%s.host=YOUR_HOST)" $label $label) | quote }}
      {{- end }}
      {{- end -}}
  {{- end }}
{{- end }}
  rules:
    {{- $hostMap := dict }}
    {{- range $svcName, $svc := .Values.services }}
    {{- $svcHost := $svc.host }}
    {{- if not (hasKey $hostMap $svcHost) }}
    {{- $_ := set $hostMap $svcHost (list) }}
    {{- end }}
    {{- $svcEntry := dict "name" $svcName "paths" ($svc.ingress.paths | default (list "/")) "port" $svc.port }}
    {{- $_ := set $hostMap $svcHost (append (get $hostMap $svcHost) $svcEntry) }}
    {{- end }}

    {{- range $host, $svcList := $hostMap }}
  - host: {{ $host | quote }}
    http:
      paths:
        {{- range $svc := $svcList }}
        {{- $serviceName := printf "%s-%s-%s" (include "nlweb.fullname" $) "svc" $svc.name }}
        {{- range $path := $svc.paths }}
        {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.Version }}
        - path: {{ $path }}
          pathType: Prefix
          backend:
            service:
              name: {{ $serviceName }}
              port:
                number: {{ $svc.port }}
        {{- else }}
        - path: {{ $path }}
          backend:
            serviceName: {{ $serviceName }}
            servicePort: {{ $svc.port }}
        {{- end }}
        {{- end }}
        {{- end }}
        {{- end }}
  {{- end }}