{{- if .Values.ingress.enabled -}}
{{- $fullName := include "nlweb.fullname" . -}}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}-ingress
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "nlweb.labels" . | nindent 4 }}
  annotations:
    {{- range $label, $annotation := .Values.ingress.annotations }}
    {{ $label }}: {{ $annotation | quote }}
    {{- end }}
spec:
{{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
{{- end -}}
{{- if .Values.ingress.tls }}
  tls:
  {{- range .Values.ingress.tls }}
    - secretName: {{ .secretName }}
      hosts:
      {{- if .hosts -}}
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      {{- else -}}
      {{- range $label, $service := $.Values.services }}
        {{- /* Compute host with helpers for known services, keep value for customs */ -}}
        {{- $hostCtx := dict "val" $service.host -}}
        {{- if eq $label "webapp" -}}
          {{- $_ := set $hostCtx "val" (include "nlweb.webapp.host" $) -}}
        {{- else if eq $label "api" -}}
          {{- $_ := set $hostCtx "val" (include "nlweb.api.host" $) -}}
        {{- else if eq $label "api-v4" -}}
          {{- $_ := set $hostCtx "val" (include "nlweb.api-v4.host" $) -}}
        {{- else if eq $label "files" -}}
          {{- $_ := set $hostCtx "val" (include "nlweb.files.host" $) -}}
        {{- end -}}
        - {{ (get $hostCtx "val") | required (printf "The %s service host is required. (--set services.%s.host=YOUR_HOST)" $label $label) | quote }}
      {{- end }}
      {{- end -}}
  {{- end }}
{{- end }}
  rules:
    {{- $hostMap := dict }}
    {{- range $svcName, $svc := .Values.services }}
    {{- /* Resolve host with helpers for known services */ -}}
    {{- $hostCtx := dict "val" $svc.host -}}
    {{- if eq $svcName "webapp" -}}
      {{- $_ := set $hostCtx "val" (include "nlweb.webapp.host" $) -}}
    {{- else if eq $svcName "api" -}}
      {{- $_ := set $hostCtx "val" (include "nlweb.api.host" $) -}}
    {{- else if eq $svcName "api-v4" -}}
      {{- $_ := set $hostCtx "val" (include "nlweb.api-v4.host" $) -}}
    {{- else if eq $svcName "files" -}}
      {{- $_ := set $hostCtx "val" (include "nlweb.files.host" $) -}}
    {{- end }}
    {{- $svcHost := (get $hostCtx "val") -}}
    {{- if not (hasKey $hostMap $svcHost) }}
    {{- $_ := set $hostMap $svcHost (list) }}
    {{- end }}
    {{- $svcEntry := dict "name" $svcName "paths" ($svc.ingress.paths | default (list "/")) "port" $svc.port }}
    {{- $_ := set $hostMap $svcHost (append (get $hostMap $svcHost) $svcEntry) }}
    {{- end }}

    {{- range $host, $svcList := $hostMap }}
  - host: {{ $host | quote }}
    http:
      paths:
        {{- range $svc := $svcList }}
        {{- $serviceName := printf "%s-%s-%s" (include "nlweb.fullname" $) "svc" $svc.name }}
        {{- range $path := $svc.paths }}
        {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.Version }}
        - path: {{ $path }}
          pathType: Prefix
          backend:
            service:
              name: {{ $serviceName }}
              port:
                number: {{ $svc.port }}
        {{- else }}
        - path: {{ $path }}
          backend:
            serviceName: {{ $serviceName }}
            servicePort: {{ $svc.port }}
        {{- end }}
        {{- end }}
        {{- end }}
        {{- end }}
  {{- end }}