{{- if .Values.services -}}
{{- range $label, $service := .Values.services }}

{{ $serviceName := printf "%s-%s-%s" (include "nlweb.fullname" $) "svc" $label }}

apiVersion: v1
kind: Service
metadata:
  name: {{ $serviceName }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "nlweb.labels" $ | nindent 4 }}
spec:
  type: {{ default "ClusterIP" $service.type }}
  ports:
    - port: {{ default 80 $service.port }}
      targetPort: {{ $label }}
      protocol: {{ default "TCP" $service.protocol }}
      name: http
  selector:
    {{- if eq $label "webapp" }}
    {{- include "nlweb.frontend.selectorLabels" $ | nindent 4 }}
    {{- else if or (eq $label "files") (eq $label "api") (eq $label "api-v4") }}
    {{- include "nlweb.backend.selectorLabels" $ | nindent 4 }}
    {{- else }}
      {{- if eq $service.component "backend" }}
      {{- include "nlweb.backend.selectorLabels" $ | nindent 4 }}
      {{- else if eq $service.component "frontend" }}
      {{- include "nlweb.frontend.selectorLabels" $ | nindent 4 }}
      {{- else }}
      {{ required "Custom services must have a 'component' property with value equal to 'frontend' or 'backend'" $service.component }}
      {{- end}}
    {{- end }}

---

{{- end -}}
{{- end -}}